@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Nerko+One&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

* {
    box-sizing: border-box;
    font-family: "Nerko One", cursive;
    margin: 0;
    padding: 0;
}
